body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  margin: 0;
  background-image: url("https://i.imgur.com/QaxPSMg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-form {
  margin: 200px;
}
